:root{
    --cor-primaria: #f46ac3 ;
    --cor-secundadria: #3d1c31;
    --cor-terciaria: #fdace0 ;
    --branco: white;
    --preto: black ;
}


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    background-color: var(--cor-primaria);
    display: flex;
    padding: 1rem;
    align-items: center;
    
}
#form-buscar{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#buscar{
    flex-grow: 0.75;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    outline: none;
}
.icon-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  0 0.5rem;
}
#btn-buscar{
    position: absolute;
    right: 11.5%;
    background: transparent;
    border: none;
}
nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    background-color: var(--cor-terciaria);
    padding: 0.5rem;
}
nav a:first-child{
    border-right: 1px solid var(--preto) ;
}
#banner{
    width: 100%;
    background-image: url(https://acdn.mitiendanube.com/stores/001/630/548/products/550e0aaac13acdf1ec1a1158e88634fa-ea6fe03d5b5e5aac4816572836231387-640-0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
}
#txt-banner{
    position: absolute;
    top: 10%;
    right: 10%;
}
.conteudo{
    text-align: center;
    margin: 1rem;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    color: white;
}
.card img{
    border-radius: 8px 8px 0 0;
}
.card{
    border: 1px solid var(--cor-secundadria);
    border-radius: 8px;
    background-color: var(--preto);
}
.card-content{
    padding: 3rem;
    text-align: center;   
}

