*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --cor-primaria: #f46ac3 ;
    --cor-secundadria: #3d1c31;
    --cor-terciaria: #fdace0 ;
    --branco: white;
    --preto: black ;
}
body{
    min-height: 100vh;
}
header{
    background-color: var(--cor-primaria);
    padding: 50px;
}
main{
    position: relative;
    min-height: calc(100vh - 12rem);
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
#form{
    background-color: #f46ac3;
    width: 400px;
    height: 300px;
}
.box-login{
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-direction: column;
}



