*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #FF0099;
    padding: 50px;
    color: white;
}
#conteudo{
    padding:80px;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
#conteudo{
    display: inline-block;
}
main div h2{
    padding-bottom: 20px;
}
main div p{
    font-size: 1.5em;
    padding-bottom: 20px;
}
#conteudo img{
    transform: translate(-50%, -90%);
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.icons img{
    gap: 10px;
}
